@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root{
    font-family: Lobster, sans-serif;
}
body, html{
    margin: 0;
    padding: 0;
    height: 100%;
}

textarea {
    display: block;
    height: 8vh;
    width: 50%;
    margin: 2rem auto;
    padding: 1rem;
    font-family: Lobster, sans-serif;
    /* align-items: center;; */
}

.page-header {
    background-color: #FBBF24;
    align-items: center;
}

.page-header div {
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}

button {
    background-color: #FBBF24;
    border: none;
    display: block;
    margin: 1rem auto;
    padding: 1rem 3rem;
    cursor: pointer;
    font-size: larger;
    font-family: Lobster, sans-serif;
}

#output {
    border: 1px solid black;
    height: 8vh;
    width: 50%;
    display: block;
    margin: 1rem auto;
    padding: 1rem;
}

footer {
    background-color: #FBBF24;
    padding-top: 1rem;
    margin-top: 9rem;
    margin-bottom: 0;
    width: 100%;
}

.heading-footer {
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
}

ul {
    text-align: center;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;    
}

ul li {
    display: inline-block;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}